.container1 {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  margin-top: 0;
}
.container1 h1{
  margin-bottom: 20px;
}

.item-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  align-items: start;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.poster1 {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-out;
  justify-content: center;
}

.poster1:hover {
  transform: scale(1.05);
}

.title {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
