.slideshow-container {
  overflow: hidden;
  width: 99%;
  border-radius: 5px;
  margin: 0 auto;
}

.slideshow-wrapper {
  width: 100vw;
  height: 100vh;
}

.slick-slider {
  height: 100%;
}

.slide-items {
  height: 500px;
  box-sizing: border-box;
}

.welcome {
  background: url("../assets/Welcome.png");
  background-position: center;
  background-size: cover;
  height: 100%;
  color: white;
}

.next-slide {
  background-color: rgba(0, 0, 0, 0.622);
  height: 100%;
}

.slideshow-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 50%, rgb(140, 114, 94) 100%);
}

.slideshow-rate {
  margin-top: 10px;
  font-size: 16px;
}

.slideshow-overview {
  margin-top: 10px;
  margin-right: 500px;
  color: rgba(218, 218, 218, 0.704);
}

.youtube-link {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}

.youtube-logo {
  width: 40px;
  height: 40px;
}

